h1 {font-family: Arial, Helvetica, sans-serif;}
h2, h3 {font-family: Merriweather, Proxima Nova, Futura, sans-serif;}
p, li, a, label {font-family: Helvetica, Arial, sans-serif; font-size: 14px;} 
button {font-family: Helvetica, Arial, sans-serif; font-size: 14px;}

.top-nav {
	background-color: #333333;
	overflow: hidden;
}
.top-nav a {
	float: right;
	color: #ffffff;
	padding: 15px 25px;
	align-content: center;
}
.top-nav a:hover {
	background-color: #07b115;
}
.top-nav a.active {
	background-color: #e3e3e3;
	color: #333333;
}

.red-button {
	background-color: #ec383b; 
	border: none; 
	color: white; 
	padding: 15px 32px;
	text-align: center;
}
.green-button {
	background-color: #07b115; 
	border: none; 
	color: white; 
	padding: 15px 32px;
	text-align: center;
}
.full-width {
	display: grid; 
	grid-template-rows: auto; 
	grid-template-columns: 17% 66% 17%;
}
.two-column {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 17% 28% 35% 17%;
}
.three-column {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 17% 21.33% 1% 21.33% 1% 21.33% 17%;	
	padding-top: 10px;
}
.two-column-R {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 17% 40% 23% 17%;
}
.drop-opt {
	background-color: #f3f3f3;
	margin-top:10px;
	width: 450px;
	padding: 12px;
	border-radius: 5px;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
	font-size: 14;
	text-align: left;
}
.input-box {
	margin-top: 10px;
	width: 420px;
	padding: 12px;
	border-radius: 5px;
	border-color: #c3c3c3;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
	font-size: 14;
	text-align: left;
}
.bgr-grey {background-color: #f3f3f3;}
.bgr-Dgrey {background-color: #333333; color: #c3c3c3;}
